name: Devubox ISO Build Environment

on:
  workflow_dispatch:   # manual start

jobs:
  desktop:
    runs-on: ubuntu-latest
    steps:
      - name: Speed up installs (disable man-db)
        run: |
         sudo rm -f /var/lib/man-db/auto-update
         sudo sh -c 'echo "path-exclude /usr/share/man/*" > /etc/dpkg/dpkg.cfg.d/01_nodocs'

      - name: Update system and install XFCE + VNC + QEMU + Devubox Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends  xfce4 xfce4-terminal  thunar file-roller thunar-archive-plugin  mousepad xfce4-taskmanager xfce4-screenshooter galculator ristretto tigervnc-standalone-server tigervnc-tools tigervnc-common novnc websockify dbus-x11 x11-utils x11-xserver-utils stress-ng  curl wget unzip
          sudo apt-get install -y qemu-system-x86 tigervnc-viewer virt-manager debootstrap expect squashfs-tools genisoimage xorriso zsync debconf-utils kmod syslinux-utils
          git clone https://github.com/DevuboxLinux/build-iso-devubox
          wget "https://pkgmaster.devuan.org/devuan/pool/main/d/debootstrap/debootstrap_1.0.141devuan1_all.deb"
          wget "https://pkgmaster.devuan.org/devuan/pool/main/d/devuan-keyring/devuan-keyring_2025.08.09_all.deb"
          sudo dpkg -i ./de*.deb

      - name: Setup VNC password
        run: |
          mkdir -p ~/.vnc
          echo "mbeek" | vncpasswd -f > ~/.vnc/passwd
          chmod 600 ~/.vnc/passwd
          cat > ~/.vnc/xstartup <<'EOF'
          #!/bin/sh
          unset SESSION_MANAGER
          unset DBUS_SESSION_BUS_ADDRESS
          exec dbus-launch --exit-with-session startxfce4
          EOF
          chmod +x ~/.vnc/xstartup

      - name: Start VNC server
        run: |
          vncserver :1 -geometry 1366x768 -depth 24

      - name: Start NoVNC (websockify)
        run: |
          websockify --web /usr/share/novnc/ 8080 localhost:5901 &
          sleep 5

      - name: Install Cloudflared and VSCodium
        run: |
          wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          wget https://github.com/VSCodium/vscodium/releases/download/1.105.17075/codium_1.105.17075_amd64.deb
          sudo dpkg -i cloudflared-linux-amd64.deb
          sudo dpkg -i codium_1.105.17075_amd64.deb

      - name: Start tunnel to NoVNC
        run: |
          cloudflared tunnel --url http://localhost:8080 --no-autoupdate > tunnel.log 2>&1 &
          sleep 15
          echo "======== Access URL (NoVNC) ========"
          grep -Eo "https://[0-9a-zA-Z\.-]+\.trycloudflare.com" tunnel.log || true
          echo "===================================="

      - name: Keep alive until manually stopped
        run: |
          echo "Desktop is running, ready for compile distro and test them graphically (if there is bug, just stop the actions)! Stop manually with 'Stop workflow'."
          sleep infinity
